{% extends "productos/base.html"  %}

{% block contenido %}
<h1 class="text-center pb-3 mb-3">Sobre Nosotros</h1>
<div class="d-flex justify-content-center align-items-center font">
<div class="card mb-3 " style="max-width: 540px;">
    <div class="row g-3">
        <div class="col-md-4">
        <img src="../../static/productos/assets/foto_1_SN.jfif" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
        <div class="card-body">
            <h5 class="card-title">Cristian Jaimes</h5>
            <p class="card-text"> Tengo 21 años, soy de Berazategui. Este es mi primer curso de programación. El año que viene comienzo la carrera de licenciatura en sistemas.</p>
        </div>
    </div>
    </div>
</div>

<div class="card mb-3 " style="max-width: 540px;">
    <div class="row g-3">
        <div class="col-md-4">
        <img src="../../static/productos/assets/foto_2_SN.jpeg" class="img-fluid rounded-start" alt="...">
    </div>
    <div class="col-md-8">
        <div class="card-body">
            <h5 class="card-title">Lucas Paz</h5>
            <p class="card-text">Tengo 22 años. Este año comence a estudiar programación, mi plan es seguir estudiando python. El año próximo comienzo la universidad orientado a la programación.</p>
        </div>
    </div>
    </div>
</div>
</div>
{% endblock %}