{% extends "productos/base.html" %}

{% block contenido %}
<div class=" text-center font ">
    <h1 class="mt-4"> Registrar nuevo usuario </h1>

    {% if errors %}
        <p>Errores en el registro de usuario: {{errors}}</p>
    {% endif %}

    <form method="post">
        {% csrf_token %}

        {{form.as_p}}

        <input class="btn-primary" type="submit" value="Registrar Usuario">
    </form>
    <p> </p>
    <p> ¿Ya tenés una cuenta? Inicia Sesión  <a href="{% url 'usuarios-login' %}"> Aquí </a></p>
</div>
{% endblock %}